.todolist .row:first-of-type{
    color: white;
    background-color: #01a3a4;
}

.todolist .row{
    color: #54a0ff;
    background-color:white;
}

.delet-item{
    color:#01a3a4;
   
}
.delet-item:hover{
    
    cursor: pointer;
    background-color: #ddd;
    color: #ff6b6b;
}